<%- include('z/headtag-dashio'); -%>

<section id="container">
  <%- include('z/header-dashio'); -%>

  <aside>
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered"><a href="/profilem/<%=info.id%>"><img src="/img/<%=info.user.name%>.png" class="img-circle" width="80"></a></p>
  <h5 class="centered"><%= info.user.name%></h5>
  <li class="mt">
    <a  href="/dashboardm/<%=info.id %>">
      <span>Dashboard</span>
      </a>
  </li>
  <li>
    <a href="/postgoal/<%=info.id %>">
      <span>Post Goal </span>
      </a>
  </li>
  <li>
    <a href="/postquiz/<%=info.id %>">
      <span>Post Quiz </span>
      </a>
  </li>
  <li>
    <a href="/goalsposted/<%=info.id %>">
      <span>Goals Posted </span>
      </a>
  </li>

  <li>
    <a href="/quizzesposted/<%=info.id %>">
      <span>Quizzes Posted </span>
      </a>
  </li>
  <li>
    <a href="/mymentees/<%=info.id %>">
      <span>My Mentees  </span>
      </a>
  </li>
  <li>
    <a class="active" href="/chatroomm/<%=info.id %>">
      <span>Chat Room </span>
      </a>
  </li>
  <li>
    <a href="/events">
      <span>Events </span>
      </a>
  </li>

  </ul>
  <!-- sidebar menu end-->
  </div>
  </aside>


  <section id="main-content">
      <section class="wrapper site-min-height">
        <!-- page start-->
        <div class="chat-room mt">
          <aside class="mid-side">
            <div class="chat-room-head">
              <h3>Forum</h3>
            </div>
               <div class="group-rom last-group " style="max-height:65vh;overflow-y:auto;scrollbar-width: thin ;scrollbar-color:#14859c #fff;">
                  <ul id="messages" style=" width:94%;margin:0 3%;padding:0; font-size:1.2em;">
                    <%for(var i=0;i<msg.length;i++){%>
                      <li >
                        <p style="font-weight:bold;color:#14859c"><%=msg[i].senderName%></p>
                        <%=msg[i].message%>
                        <span style="margin-left:20px;font-size:0.8em;color:#797979"><%=msg[i].date%></span>
                      </li>
                      <br />
                    <%}%>

                  </ul>
               </div>
              <footer >
                  <form >
                    <div style="width:100%;">
                      <div class="chat-txt"  >
                         <input id="m" type="text" class="form-control" name="message" id="txt" style="word-wrap:break-word">
                      </div>
                      <input id="nm" class="btn btn-theme" type="submit" name="<%=info.name%>" value="Send"/>
                    </div>
                  </form>
                  <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
                  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
                  <script>
                      $(function () {
                        var socket = io('http://127.0.0.1:3000',{transports: ['polling']});

                        $('form').submit(function(e){
                           e.preventDefault(); // prevents page reloading

                           let d={name:$('#nm').attr("name"),message:$('#m').val()};

                           socket.emit('forum message', d);
                           $('#m').val('');
                           return false;
                          });
                        socket.on('forum message', function(data){
                          $('#messages').append($('<li >'+'<p style="font-weight:bold;color:#14859c">'+data.name+'</p>'+data.message+'<span style="margin-left:100px;font-size:0.8em;color:#797979">'+data.date+'</span>'+'</li>'+'<br />'));//.text(msg));
                          });
                          $("#messages").scrollTop( $('li').offset().top);//: $('#messages')[0].scrollHeight}, 1000);

                      });

                  </script>
                </footer>
          </aside>
          <aside class="right-side">
            <a href="/chatroomm/<%=info.id%>">

            </a>
            <div class="user-head" style="margin:0 2% 2% 2%;">
              <h4 class="text-center">Chat with Mentee</h4>
            </div>

            <ul class="chat-available-user">
                <% for(var i=0;i<info.user.students.length;i++){ %>
                   <li><h4><a href="/chatm/<%= info.user.id%>/<%= info.user.students[i].id %>/<%= info.user.students[i].name %>"><%= info.user.students[i].name%></a></h4></li>
                 <% } %>


            </ul>
          </aside>
        </div>
        <!-- page end-->
      </section>
      <!-- /wrapper -->
    </section>

  <%- include('z/footer-dashio'); -%>
</section>

<%- include('z/scripts-dashio'); -%>
