<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('z/headtag-dashio'); -%>

</head>

<body>
  <section id="container">
    <%- include('z/header-dashio'); -%>
    <aside>
      <div
        id="sidebar"
        class="nav-collapse ">
        <!-- sidebar menu start -->

        <ul id="nav-accordion" class="sidebar-menu">
          <p class="centered">
            <a href="/profile/<%=info.id%>" >

              <img class="img-circle" src="/img/<%=info.user.name%>.png" width="80"/>
            </a>
          </p>

          <h5 class="centered"><%= info.name %></h5>

          <li class="mt">
            <a class="" href="/dashboard/<%=info.id%>">
              <span>Dashboard</span>
            </a>
          </li>

          <li>
            <a href="/findmentors/<%=info.id%>">
              <span>Find Mentors</span>
            </a>
          </li>

          <li>
            <a class="active" href="/mygoals/<%=info.id%>">
              <span>Goals</span>
            </a>
          </li>



          <li>
            <a href="/myquizzes/<%=info.id%>">
              <span>Quizzes</span>
            </a>
          </li>

          <li>
            <a href="/mymentors/<%=info.id%>">
              <span>My Mentors</span>
            </a>
          </li>
          <li>
            <a href="/chatroom/<%=info.id%>">
              <span>Chat Room</span>
            </a>
          </li>

          <li><a href="#"><span>Events</span></a></li>
        </ul>

        <!-- sidebar menu end -->
      </div>
    </aside>
    <section id="main-content">
      <section class="wrapper ">
        <div class="row">
           <div class="col-lg-12">
          <header class="panel-heading" >
            <h3 class="gen-case"> Goals to achieve</h3>
          </header>
          <div class="panel-body minimal">
           <section class="panel" style="padding-bottom: 10px;">


            <h4 style="margin-left:10px" >Pending Goals</h4>
              <%if(info.user.pendingGoals.length===0){%>
                <div class="row " style="width:98%; margin-top:0; margin:1px 1%; background-color:#37b2ca6b; ">
                  <div class="col-lg-12" style="text-align:center;"><h4> You have no pending goals</h4></div>
                 </div> 

              <%}else{%>
              <%for(var i=info.user.pendingGoals.length-1;i>=0;i--){%>
                <div class="row " style="width:98%; margin-top:0; margin:1px 1%; background-color:#37b2ca6b; ">
                  <div class="col-lg-3" style="text-align: left;"><h4> BY : <%=info.user.pendingGoals[i].by %></h4></div>
                  <div class="col-lg-8" style="text-align: left;"><h4><%=info.user.pendingGoals[i].goal%></h4></div>
                  <div class="col-lg-1">
                    <a  style="margin-top:10%;" href="/goalcompleted/<%=info.id%>/<%=info.user.pendingGoals[i].goal%>/<%=info.user.pendingGoals[i].by%>/<%=info.user.name%>" class="btn mini tooltips">
                      <i  class="fa fa-trash-o pull-right"></i>
                    </a>
                  </div>
                 </div>
                
              <%}}%>

            </section>
            <section class="panel" style="padding-bottom: 10px;">

            <h4 style="margin-left:10px">Completed Goals</h4>
              <%if(info.user.myGoals.length===0){%>
                <div class="row " style="width:98%; margin-top:0; margin:1px 1%; background-color:#37b2ca6b; ">
                  <div class="col-lg-12" style="text-align:center;"><h4> You have not completed any goal</h4></div>
                 </div>

              <%}else{%>
              <%for(var i=info.user.myGoals.length-1;i>=0;i--){%>

                <div class="row " style="width:98%; margin-top:0; margin:1px 1%; background-color:#37b2ca6b; ">
                  <div class="col-lg-3" style="text-align: left;"><h4> BY : <%=info.user.myGoals[i].by %></h4></div>
                  <div class="col-lg-9" style="text-align: left;"><h4><%=info.user.myGoals[i].goal%></h4></div>
                  
                 </div>

              <%}}%>
            </section>

            </div>
          </div>
        </section>

           </div>

        </div>

      </section>
      <!-- /wrapper -->
    </section>
    <%- include('z/footer-dashio'); -%>

  </section>
  <%- include('z/scripts-dashio'); -%>

</body>

</html>
