<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('z/headtag-dashio'); -%>

</head>

<body>
  <section id="container">
    <%- include('z/header-dashio'); -%>
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="#"><img src="/img/<%=info.user.name%>.png" class="img-circle" width="80"></a></p>
    <h5 class="centered"><%= info.name%></h5>
    <li class="mt">
      <a class="" href="/dashboardm/<%=info.id %>">
        <span>Dashboard</span>
        </a>
    </li>
    <li>
      <a href="/postgoal/<%=info.id %>">
        <span>Post Goal </span>
        </a>
    </li>
    <li>
      <a href="/postquiz/<%=info.id %>">
        <span>Post Quiz </span>
        </a>
    </li>
    <li>
      <a href="/goalsposted/<%=info.id %>">
        <span>Goals Posted </span>
        </a>
    </li>

    <li>
      <a class="active" href="/quizzesposted/<%=info.id %>">
        <span>Quizzes Posted </span>
        </a>
    </li>
    <li>
      <a href="/mymentees/<%=info.id %>">
        <span>My Mentees  </span>
        </a>
    </li>
    <li>
      <a href="/chatroomm/<%=info.id %>">
        <span>Chat Room </span>
        </a>
    </li>
    <li>
      <a href="/events">
        <span>Events </span>
        </a>
    </li>

    </ul>
    <!-- sidebar menu end-->
    </div>
    </aside>

    <section id="main-content">
      <section class="wrapper ">
        <div class="row">
           <div class="col-lg-12">
             <section class="panel">

              <header class="panel-heading wht-bg">
            <h4 class="gen-case">
                Quizzes Posted
                  <a class="btn btn-success btn-sm pull-right" href="/postquiz/<%=info.id %>"><h5>Post Quiz</h5></a>
            </h4>
              </header>

              <div class="panel-body minimal">

                <section class="panel">


                 <%if(info.user.quizziesPosted.length===0){%>
                  <div class="row " style="width:98%; margin-top:0; margin:1px 1%; background-color:#37b2ca6b; ">
                    <div class="col-lg-12" style="text-align:center;"><h4> You have not posted any quiz</h4></div>
                   </div>
                 <%}else{%>
                 <%for(var i=0;i<info.user.quizziesPosted.length;i++){%>

                  <div class="row " style="width:99%; margin-top:0; margin:1px 0; background-color:#37b2ca6b; ">
                    <div class="col-lg-3" style="text-align: left;"><h4> To : <%=info.user.quizziesPosted[i].to_name %></h4></div>
                    <div class="col-lg-7" style="text-align: left;"><h4><%=info.user.quizziesPosted[i].title%></h4></div>
                    <div class="col-lg-2" style="text-align: center;">
                      <%if(info.user.quizziesPosted[i].status==1){%>
                        <h5 style="color:green;">Completed</h5>
                        <h5 >See Report</h5>

                       <%}else{%>
                         <h5 style="color:red;">Pending</h5>
                         <%}%>
                    </div>
                   </div>
                 <%}}%>
                </section>

               </div>
               </section>
            </div>

          </div>
        </section>



      </section>
      <!-- /wrapper -->
    </section>
    <%- include('z/footer-dashio'); -%>

  </section>
  <%- include('z/scripts-dashio'); -%>

</body>

</html>
